.round-button {
  font-size: x-large;
  width: 24pt;
  height: 24pt;
  border-radius: 100%;
  transform: scale(1.25);
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 0px 6pt;
}

.component-bar {
  display: flex;
  border: black 1px solid;
  padding: 10pt 12pt;
  border-radius: 100px;
}

  .component-bar h2 {
    margin: 0 4pt 1pt;
    font-size: x-large;
    text-transform: uppercase;
    border-radius: 100vh;
    padding: 2pt 8pt;
    position: relative;
  }

  .component-bar h2 .remove-component {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .component-bar h2 .remove-component::after {
    content: "x";
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgb(255 255 255 / 66%);
    color: black;
    text-align: center;
    text-transform: lowercase;
    transition: transform 0.25s ease;
    border-radius: 100vh;
    visibility: hidden;
  }

  .component-bar h2:hover .remove-component::after {
    visibility: inherit;
  }

  .component-bar #add-new-component-button {
    margin: 0px 0px 0px 8pt;
  }

.generate-button-area #generate-button {
  color: transparent;
  transition: color 0.25s ease;
}

.generate-button-area #generate-button:hover {
  color: black;
  transition: color 0.25s ease;
}

  .generate-button-area #generate-button img {
    transform: scale(1) rotate(45deg);
    transition: transform 0.25s ease;
    cursor: pointer;
  }

  .generate-button-area #generate-button:hover img {
      transform: scale(1.25) rotate(225deg);
    }

    .generate-button-area h3 {
      display: inline-block;
      margin: 4pt 12pt;
      position: absolute;
      font-style: italic;
      pointer-events: none;
    }

.inactive-component-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255 255 255 / 50%);
  visibility: hidden;
}

.inactive-component-overlay .inactive-component-list li {
  list-style: "";
  text-transform: uppercase;
  font-size: x-large;
  color: white;
  border-radius: 100px;
  padding: 1pt 15pt 2pt;
  margin: 4pt 0;
  width: fit-content;
  cursor: pointer;
}
.inactive-component-overlay .inactive-component-list li::before {
  content: "+";
  font-weight: bold;
  padding-right: 6pt;
}

#line i {
  visibility: hidden;
}

.hide {
  display: none !important;
}

.c_theme{
  color: rgb(137, 135, 0);
}

.bc_theme{
  background-color: rgb(137, 135, 0);
}

.c_genre{
  color: rgb(121, 0, 0);
}

.bc_genre{
  background-color: rgb(121, 0, 0);
}

.c_fantasy{
  color: rgb(152, 0, 104);
}

.bc_fantasy{
  background-color: rgb(152, 0, 104);
}

.c_mechanics{
  color: rgb(5, 0, 152);
}

.bc_mechanics{
  background-color: rgb(5, 0, 152);
}

.c_limitation {
  color: green;
}

.bc_limitation {
  background-color: green;
}